# Build Directory
build/
DerivedData/
build.log

# Sample Project Cocoapods file
Example/*.xcworkspace
Example/Podfile.lock
Example/Pods/

# User Data
*.xctimeline
xcuserdata

# mkdocs
site/

# macOS
.DS_Store
