language: objective-c
osx_image: xcode8.3
script: sh build.sh /tmp/LayoutKit
after_success:
  - bash <(curl -s https://codecov.io/bash) -D /tmp/LayoutKit
before_install:
  - xcrun simctl delete 22FA2149-1241-469C-BF6D-462D3837DB72
  - xcrun simctl delete 8188B40E-F57F-4519-AC47-E43D884B9016
