.navbar-brand {
  background-image: url('img/logo.svg');
  background-repeat: no-repeat;
  padding-left: 60px;
}

div[role='main'] p:nth-child(-n+2) img {
  background-color: transparent;
  border: none;
  margin: 0px;
}

div[role='main'] p:first-child {
  margin-bottom: 0;
}

div[role='main'] p:nth-child(2) {
  margin-bottom: 20px;
}

a {
  color: #4285C5;
}

.navbar {
  background-image: -webkit-linear-gradient(#178DCA,#4285C5);
  background-image: linear-gradient(#178DCA,#4285C5);
}

/* Replace #178acc with #107ABF from bootstrap theme */
.text-primary:hover{color:#107ABF}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color:#fff;background-color:#107ABF}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#fff;background-color:#107ABF}
.navbar-default .navbar-toggle{border-color:#107ABF}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#107ABF}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{color:#fff;background-color:#107ABF}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color:#fff;background-color:#107ABF}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{color:#fff;background-color:#107ABF}
.label-primary[href]:hover,.label-primary[href]:focus{background-color:#107ABF}
